In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv('./dados/users.csv')

In [6]:
type(dataframe)
dataframe.describe()

               id        age
count   15.000000  13.000000
mean   107.000000  32.615385
std      4.472136  10.120429
min    100.000000  19.000000
25%    103.500000  23.000000
50%    107.000000  32.000000
75%    110.500000  43.000000
max    114.000000  46.000000

In [7]:
dataframe.columns

Index(['id', 'firstname', 'lastname', 'email', 'email2', 'profession', 'age'], dtype='object')