In [1]:
import pandas as pd

In [2]:
# vamos juntar informações de 2 diferentes dataframes

# primeiro, criando os dataframes a partir dos diferentes arquivos:

dados_usuarios = pd.read_csv('./dados/users.csv')

dados_status = pd.read_csv('./dados/users_status.csv')

In [4]:
# há 2 formas de fazer a junção: utilizando a função merge e utilizando a função join
# porém, a função merge é mais "flexível" e se assemelha mais ao join do sql, então acaba sendo mais utilizada

dados_inner_join = pd.merge(
    dados_usuarios,
    dados_status,
    on = 'id',
    how = 'inner'
)
dados_inner_join

,id,firstname,lastname,email,email2,profession,age,active
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0,0
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0,1
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0,0
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0,1
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0,0
5,105,Lusa,Kolnick,Lusa.Kolnick@yopmail.com,Lusa.Kolnick@gmail.com,firefighter,23.0,1
6,106,Fredericka,Florina,Fredericka.Florina@yopmail.com,Fredericka.Florina@gmail.com,firefighter,43.0,1
7,107,Constance,Georgy,Constance.Georgy@yopmail.com,Constance.Georgy@gmail.com,doctor,NaN,1
8,109,Lily,Uird,Lily.Uird@yopmail.com,Lily.Uird@gmail.com,firefighter,46.0,0
9,110,Malina,Huggins,Malina.Huggins@yopmail.com,Malina.Huggins@gmail.com,worker,23.0,1
10,111,Dorthy,Nisbet,Dorthy.Nisbet@yopmail.com,Dorthy.Nisbet@gmail.com,doctor,NaN,0
11,112,Tiffie,Joachim,Tiffie.Joachim@yopmail.com,Tiffie.Joachim@gmail.com,doctor,33.0,1
12,113,Agathe,Adrienne,Agathe.Adrienne@yopmail.com,Agathe.Adrienne@gmail.com,developer,32.0,0